My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b2cd5ae7-0b7c-4daf-9cc1-b2b06af39592",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        288,
        -240
      ],
      "notesInFlow": true,
      "webhookId": "d481d93e-e797-4d2f-9ac1-66d00136ff70",
      "notes": "Disparador: mensajes entrantes desde Telegram."
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json;\nlet canal, user_id, texto, nombre;\nif (body.message && body.message.from) {\n  // Telegram\n  canal = 'telegram';\n  user_id = String(body.message.from.id);\n  texto = body.message.text || '';\n  nombre = body.message.from.first_name || '';\n} else if (body.author) {\n  // Discord\n  canal = 'discord';\n  user_id = String(body.author.id);\n  texto = body.content || '';\n  nombre = body.author.username || '';\n} else if (body.entry) {\n  // WhatsApp Cloud API\n  const change = body.entry[0].changes[0].value;\n  const msg = (change.messages || [])[0] || {};\n  canal = 'whatsapp';\n  user_id = msg.from || '';\n  texto = msg.text ? msg.text.body : '';\n  nombre = (change.contacts && change.contacts[0] && change.contacts[0].profile.name) || '';\n} else {\n  canal = 'desconocido'; user_id = ''; texto = ''; nombre = '';\n}\nreturn [{ json: { canal, user_id, texto, nombre } }];"
      },
      "id": "8a5e91c5-da84-4b98-9564-2202905ceaa9",
      "name": "Normalizar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -240
      ],
      "notesInFlow": true,
      "notes": "Nodo clave: homogeniza el mensaje venga de donde venga (Telegram, Discord o WhatsApp) en los mismos campos: canal, user_id, texto, nombre. Todo el resto del flujo usa SOLO estos campos, nunca datos específicos de una plataforma."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telegram_user",
              "lookupValue": "={{$('Normalizar Mensaje').item.json.user_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "33dec43d-cb80-4435-875a-3f88b362d730",
      "name": "Buscar Sesión Activa",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        736,
        -240
      ],
      "notesInFlow": true,
      "alwaysOutputData": true,
      "notes": "Consulta SESIONES filtrando por user_id (columna telegram_user) para saber si el usuario ya está en medio del wizard, sin importar el canal."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.telegram_user ? 1 : 0}}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "4e8b1546-f2bc-478f-bf4a-5ca67a6503fc",
      "name": "IF - Existe Sesión",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        -240
      ],
      "notesInFlow": true,
      "notes": "True: continúa el wizard según pantalla_actual. False: solo se acepta /solicitar."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$('Normalizar Mensaje').item.json.texto}}",
              "value2": "/solicitar"
            }
          ]
        }
      },
      "id": "3cae52f0-b747-4437-bdbd-e54b4ab6b0aa",
      "name": "IF - Es Comando Solicitar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1408,
        -240
      ],
      "notesInFlow": true,
      "notes": "Verifica si el mensaje recibido (de cualquier canal) es el comando /solicitar."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3TZRtlbtTn49ylvh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "Escribe /solicitar para comenzar a pedir una tutoría."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "10ab8c66-1973-47cc-92a1-788e08342e06",
      "name": "Enviar Mensaje - Ignorar",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1632,
        -48
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.pantalla_actual}}",
        "rules": {
          "rules": [
            {
              "value2": "inicio"
            },
            {
              "value2": "esperando_materia",
              "output": 1
            },
            {
              "value2": "esperando_fecha",
              "output": 2
            },
            {
              "value2": "esperando_confirmacion",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "25f038f7-6514-472b-aa90-50f8507c602f",
      "name": "Switch - Enrutar Según Pantalla",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1200,
        288
      ],
      "notesInFlow": true,
      "notes": "Enruta según pantalla_actual guardado en SESIONES."
    },
    {
      "parameters": {
        "jsCode": "const materias = new Set();\nfor (const item of items) {\n  const lista = (item.json.especialidad_materias || '').split(',').map(m => m.trim()).filter(Boolean);\n  lista.forEach(m => materias.add(m));\n}\nconst arr = [...materias];\nconst mensaje = arr.map((m, i) => `${i + 1}. ${m}`).join('\\n');\nreturn [{ json: { listaMaterias: arr.map((m,i)=>({indice:i+1, materia:m})), mensaje } }];"
      },
      "id": "75623042-20fa-452d-9639-fc8732565666",
      "name": "Extraer Materias Únicas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -240
      ],
      "notesInFlow": true,
      "notes": "Deduplica materias de tutores activos y arma el texto numerado del menú."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3TZRtlbtTn49ylvh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "=Elige una materia respondiendo con el número:\n\n{{$json.mensaje}}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "14b25d2b-02cf-4054-b26a-abbd64dc82c7",
      "name": "Enviar Mensaje - Menú Materias",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        -240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "pantalla_actual": "esperando_materia",
            "paso_actual": 1,
            "datos_parciales": "={{JSON.stringify($('Extraer Materias Únicas').item.json.listaMaterias)}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d9524382-4c16-4fe3-8e46-299ead9b5ba1",
      "name": "Guardar Sesión - Esperando Materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        -240
      ],
      "notesInFlow": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TcMfz4VDxzSj9nv6",
          "name": "Google Sheets account"
        }
      },
      "notes": "Guarda el nuevo estado del usuario (incluye canal) y la lista de materias mostrada."
    },
    {
      "parameters": {
        "jsCode": "const sesion = JSON.parse($input.first().json.datos_parciales || '[]');\nconst opcion = parseInt($('Normalizar Mensaje').item.json.texto);\nconst match = sesion.find(m => m.indice === opcion);\nreturn [{ json: { valido: !!match, materiaElegida: match ? match.materia : null } }];"
      },
      "id": "98bd7f26-dd37-47c5-a273-f5e67bb06655",
      "name": "Validar Opción Materia",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        144
      ],
      "notesInFlow": true,
      "notes": "Valida que la respuesta sea un número dentro del menú de materias mostrado."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valido}}",
              "value2": true
            }
          ]
        }
      },
      "id": "6342f40f-bb9e-4ef1-ab7c-7a15f865c1d2",
      "name": "IF - Opción Válida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1632,
        144
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "Opción no válida. Por favor responde con un número del menú."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "e4bf5fda-db1c-4c41-a77e-4c4edd12849c",
      "name": "Enviar Mensaje - Opción Inválida",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        240
      ],
      "notesInFlow": true,
      "notes": "No modifica pantalla_actual: el usuario permanece en esperando_materia y puede reintentar."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "=Elegiste {{$json.materiaElegida}}. Ingresa la fecha deseada (AAAA-MM-DD):"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "491a8e3d-c951-4f37-b97d-2839c44f1306",
      "name": "Enviar Mensaje - Pedir Fecha",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        48
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "pantalla_actual": "esperando_fecha",
            "paso_actual": 2,
            "datos_parciales": "={{JSON.stringify({materia: $('Validar Opción Materia').item.json.materiaElegida})}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cb7c1421-d5f7-4154-9068-51ed2a0985ed",
      "name": "Actualizar Sesión - Esperando Fecha",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const texto = $('Normalizar Mensaje').item.json.texto;\nconst regex = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst formatoOk = regex.test(texto);\nconst fecha = formatoOk ? new Date(texto + 'T00:00:00') : null;\nconst hoy = new Date(); hoy.setHours(0,0,0,0);\nconst esFutura = formatoOk && fecha > hoy;\nconst dias = ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'];\nreturn [{ json: { valida: formatoOk && esFutura, fecha: texto, diaSemana: formatoOk ? dias[fecha.getDay()] : null } }];"
      },
      "id": "65fa06d0-85e1-464b-ad06-79cab383819b",
      "name": "Validar Fecha",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        528
      ],
      "notesInFlow": true,
      "notes": "Valida formato AAAA-MM-DD, que sea futura, y calcula el día de la semana."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valida}}",
              "value2": true
            }
          ]
        }
      },
      "id": "f85aec60-34dc-4641-abf4-45350d3ec01d",
      "name": "IF - Fecha Válida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1632,
        528
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3TZRtlbtTn49ylvh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "Formato incorrecto o fecha pasada. Ingresa una fecha futura en formato AAAA-MM-DD."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "e5c9a334-32da-4a78-b87e-237096ad2bb2",
      "name": "Enviar Mensaje - Fecha Inválida",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        624
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORES",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "especialidad_materias",
              "lookupValue": "={{ JSON.parse($('Buscar Sesión Activa').item.json.datos_parciales).materia }}"
            },
            {
              "lookupColumn": "estado",
              "lookupValue": "Activo"
            }
          ]
        },
        "options": {}
      },
      "id": "955a5f01-2a0a-4025-8b85-2c82fc72a70c",
      "name": "Leer Tutores Por Materia",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1856,
        432
      ],
      "notesInFlow": true,
      "notes": "Lee tutores activos que ofrecen la materia elegida (filtrar especialidad_materias contiene la materia)."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "DISPONIBILIDAD"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "Libre"
            },
            {
              "lookupColumn": "dia_semana",
              "lookupValue": "={{$('Validar Fecha').item.json.diaSemana}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ee8989c9-49cc-416b-a95a-fc015f539d07",
      "name": "Leer Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        432
      ],
      "notesInFlow": true,
      "notes": "Lee bloques de DISPONIBILIDAD libres para el día calculado."
    },
    {
      "parameters": {
        "jsCode": "const tutores = $('Leer Tutores Por Materia').all().map(i => i.json);\nconst dispoRaw = $('Leer Disponibilidad').all().map(i => i.json);\nconst vistos = new Set();\nconst dispo = dispoRaw.filter(d => { if (vistos.has(d.id_dispo)) return false; vistos.add(d.id_dispo); return true; });\nconst sesion = $('Buscar Sesión Activa').first().json;\nconst datosParciales = JSON.parse(sesion.datos_parciales || '{}');\nconst materia = datosParciales.materia;\nconst cruce = dispo.filter(d => tutores.some(t => t.id_tutor === d.id_tutor && (t.especialidad_materias||'').includes(materia))).map(d => { const t = tutores.find(t => t.id_tutor === d.id_tutor); return { id_tutor: d.id_tutor, nombre: t.nombre, id_dispo: d.id_dispo, hora_inicio: d.hora_inicio, hora_fin: d.hora_fin, chat_id: t.chat_id || '', canal: t.canal || 'telegram' }; });\nreturn cruce.length ? cruce.map(c => ({ json: c, pairedItem: { item: 0 } })) : [{ json: { sinDisponibilidad: true }, pairedItem: { item: 0 } }];"
      },
      "id": "103bd39b-09cd-418c-ab14-00a42c2adbc1",
      "name": "Buscar Tutor Disponible",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        432
      ],
      "notesInFlow": true,
      "notes": "Cruza tutores que dictan la materia con su disponibilidad libre ese día. Incluye chat_id y canal del tutor (agrega estas columnas en TUTORES si quieres notificarle por su canal preferido)."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.id_tutor ? 1 : 0}}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "9c6ec7e6-9225-4699-8d1f-6875b4ee9897",
      "name": "IF - Hay Tutores Disponibles",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2528,
        432
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "No hay tutores disponibles para esa materia en la fecha indicada. Intenta con otra fecha usando /solicitar."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "4248ec71-2cf7-4828-a72b-488479abaa42",
      "name": "Enviar Mensaje - Sin Disponibilidad",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2752,
        528
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "pantalla_actual": "inicio",
            "paso_actual": 0
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b0b2fb59-a5dd-4546-8e6f-55c5522365da",
      "name": "Limpiar Sesión - Sin Disponibilidad",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2976,
        528
      ],
      "notesInFlow": true,
      "notes": "Termina el flujo reseteando la sesión al no encontrar disponibilidad."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3TZRtlbtTn49ylvh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "=Tutores disponibles:\n{{$json.nombre}} ({{$json.hora_inicio}} - {{$json.hora_fin}})\n\n¿Confirmas esta tutoría? (Sí/No)"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "1ddc0169-09bc-4863-94b6-be2e42b0c7df",
      "name": "Enviar Mensaje - Tutores Disponibles",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2976,
        336
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "pantalla_actual": "esperando_confirmacion",
            "paso_actual": 3,
            "datos_parciales": "={{JSON.stringify({materia: JSON.parse($('Buscar Sesión Activa').first().json.datos_parciales || '{}').materia, fecha: $('Validar Fecha').item.json.fecha, diaSemana: $('Validar Fecha').item.json.diaSemana, candidatos: $('Buscar Tutor Disponible').all().map(i=>i.json)})}}"
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "469af7fc-10d8-4bb0-9d92-47501becdef7",
      "name": "Actualizar Sesión - Esperando Confirmación",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3200,
        336
      ],
      "notesInFlow": true,
      "notes": "Guarda los tutores candidatos (incluye chat_id/canal) y los datos elegidos para crear la tutoría al confirmar."
    },
    {
      "parameters": {
        "jsCode": "const texto = ($('Normalizar Mensaje').item.json.texto || '').trim().toLowerCase();\nconst sesion = $('Buscar Sesión Activa').first().json;\nconst datosParciales = JSON.parse(sesion.datos_parciales || '{}');\nconst candidatos = datosParciales.candidatos || [];\n\nif (['no', 'n', 'cancelar'].includes(texto)) {\n    return [{ json: { respuesta: 'cancelar' } }];\n}\n\nconst numero = parseInt(texto, 10);\nif (!isNaN(numero) && numero >= 1 && numero <= candidatos.length) {\n    const seleccion = candidatos[numero - 1];\n    return [{ json: { respuesta: 'seleccion', seleccion } }];\n}\n\nreturn [{ json: { respuesta: 'invalido' } }];"
      },
      "id": "3f9591d0-d245-4155-a554-16070f727701",
      "name": "Interpretar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        1008
      ],
      "notesInFlow": true,
      "notes": "Normaliza la respuesta del usuario a si / no / invalido."
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.respuesta}}",
        "rules": {
          "rules": [
            {
              "value2": "seleccion"
            },
            {
              "value2": "cancelar",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "e3e02f3f-82c1-4695-a5e5-242e99c27d58",
      "name": "Switch - Confirmación",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1632,
        976
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "TUTORIAS"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_tutoria": "={{$now.toMillis()}}",
            "id_estudiante": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "id_tutor": "={{$('Interpretar Respuesta').item.json.seleccion.id_tutor}}",
            "materia": "={{JSON.parse($('Buscar Sesión Activa').item.json.datos_parciales).materia}}",
            "fecha": "={{JSON.parse($('Buscar Sesión Activa').item.json.datos_parciales).fecha}}",
            "hora": "={{$('Interpretar Respuesta').item.json.seleccion.hora_inicio}}",
            "estado": "Asignada"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_tutoria",
              "displayName": "id_tutoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_estudiante",
              "displayName": "id_estudiante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "materia",
              "displayName": "materia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora",
              "displayName": "hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "aee31e71-8eb8-4719-b3ae-e7f20738062e",
      "name": "Crear Tutoría",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1856,
        816
      ],
      "notesInFlow": true,
      "notes": "Crea la fila de la nueva tutoría con estado Asignada."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "DISPONIBILIDAD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_dispo": "={{$('Interpretar Respuesta').item.json.seleccion.id_dispo}}",
            "estado": "Ocupado",
            "row_number": 0
          },
          "matchingColumns": [
            "id_dispo"
          ],
          "schema": [
            {
              "id": "id_dispo",
              "displayName": "id_dispo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_tutor",
              "displayName": "id_tutor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dia_semana",
              "displayName": "dia_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3fbafce4-891f-4b85-9a03-55b4937c4ec0",
      "name": "Actualizar Disponibilidad Ocupado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        816
      ],
      "notesInFlow": true,
      "notes": "Marca el bloque de disponibilidad del tutor elegido como Ocupado."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3TZRtlbtTn49ylvh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "¡Tu tutoría quedó asignada con éxito!"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "4104ad3c-b9c0-47e4-a665-dd580e074895",
      "name": "Enviar Mensaje - Éxito Estudiante",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2304,
        816
      ]
    },
    {
      "parameters": {
        "jsCode": "const cand = $('Interpretar Respuesta').item.json.seleccion || {};\nconst datos = JSON.parse($('Buscar Sesión Activa').first().json.datos_parciales || '{}');\nconst mensaje = `📚 ¡Tienes una nueva tutoría asignada!\\nMateria: ${datos.materia}\\nFecha: ${datos.fecha}\\nHorario: ${cand.hora_inicio} - ${cand.hora_fin}`;\nreturn [{ json: { canal: cand.canal || 'telegram', destinatario: cand.chat_id || '', mensaje } }];"
      },
      "id": "26abdf69-9ba9-4d1a-81d1-e5d100dc2486",
      "name": "Extraer Datos Tutor Notificación",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        816
      ],
      "notesInFlow": true,
      "notes": "Extrae el chat_id y canal del tutor asignado (requiere columnas chat_id y canal en TUTORES) para poder notificarle por su plataforma."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.destinatario}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "e9bf8649-36d8-461e-b360-f8cae06e59e1",
      "name": "IF - Tutor Tiene Chat ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2752,
        816
      ],
      "notesInFlow": true,
      "notes": "Revisa si el tutor tiene un chat_id registrado para notificarle."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3TZRtlbtTn49ylvh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$json.canal}}",
            "destinatario": "={{$json.destinatario}}",
            "texto": "Se te asignó una nueva tutoría. Revisa el sistema para más detalles."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "destinatario",
              "displayName": "destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "d3c011ab-34d4-4d5b-b5ab-7711580a6397",
      "name": "Enviar Mensaje - Notificar Tutor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2976,
        720
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "pantalla_actual": "inicio",
            "paso_actual": 0
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9862df2a-dfb6-4d1e-8c33-f6d3d0e33fa0",
      "name": "Limpiar Sesión - Éxito",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3200,
        816
      ],
      "notesInFlow": true,
      "notes": "Resetea la sesión del usuario al finalizar exitosamente el wizard."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "Solicitud cancelada."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "01a5b76e-4113-4a67-9119-18176c81986f",
      "name": "Enviar Mensaje - Cancelación",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        1008
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telegram_user": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "pantalla_actual": "inicio",
            "paso_actual": 0
          },
          "matchingColumns": [
            "telegram_user"
          ],
          "schema": [
            {
              "id": "telegram_user",
              "displayName": "telegram_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pantalla_actual",
              "displayName": "pantalla_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paso_actual",
              "displayName": "paso_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datos_parciales",
              "displayName": "datos_parciales",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6206e763-692f-4f12-b4ae-ac3fbb5a51c3",
      "name": "Limpiar Sesión - Cancelación",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2080,
        1008
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "Por favor responde Sí o No."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "acbdfc32-f2df-4b3f-9253-344fca475871",
      "name": "Enviar Mensaje - Respuesta Inválida",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1856,
        1200
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3TZRtlbtTn49ylvh",
          "mode": "list",
          "cachedResultUrl": "/workflow/3TZRtlbtTn49ylvh",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "Ocurrió un error. Escribe /solicitar para comenzar de nuevo."
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "destinatario",
              "displayName": "destinatario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "texto",
              "displayName": "texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "f9ab7df1-3b0e-413b-8dd8-64268641f426",
      "name": "Enviar Mensaje - Error General",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        288,
        1424
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "ID_DE_TU_SPREADSHEET_TUTORBOT_DB"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "SESIONES"
        },
        "columns": {
          "matchingColumns": [
            "telegram_user"
          ],
          "value": {
            "telegram_user": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "pantalla_actual": "inicio",
            "paso_actual": 0,
            "datos_parciales": ""
          }
        },
        "options": {}
      },
      "id": "804c6853-83c2-4b5b-97fb-0e1dfb7f6e47",
      "name": "Limpiar Sesión - Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        512,
        1424
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18ZK5iCHHH_a5GL1rGItTmCQpDNJe07bHdp6sngGR8_8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "TUTORES",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "Activo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        720
      ],
      "id": "b18cb4e8-34c1-4149-b52c-4a6df10724b8",
      "name": "Leer Tutores Activos"
    },
    {
      "parameters": {
        "jsCode": "const candidatos = $input.all().map(i => i.json);\nconst estudiante = $('Normalizar Mensaje').item.json;\n\nconst lineas = candidatos.map((c, idx) => `${idx + 1}. ${c.nombre} (${c.hora_inicio}-${c.hora_fin})`);\nconst texto = `Estos son los tutores disponibles:\\n${lineas.join('\\n')}\\n\\nResponde con el número de la opción que prefieras (o escribe 'cancelar' para cancelar).`;\n\nreturn [{ json: { canal: estudiante.canal, destinatario: estudiante.user_id, mensaje: texto, candidatos } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        336
      ],
      "id": "3dcab40e-8dbc-49ac-b8ff-bbfe16114b35",
      "name": "Consolidar Mensaje - Tutores Disponibles"
    },
    {
      "parameters": {
        "outputFieldName": "currentTime",
        "options": {
          "timezone": ""
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        688,
        -32
      ],
      "id": "b145bf93-b5bd-4c2f-8d62-420f660b0438",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UrXVC7RfeYV5lbmj",
          "mode": "list",
          "cachedResultUrl": "/workflow/UrXVC7RfeYV5lbmj",
          "cachedResultName": "TutorBot - Enviar Mensaje"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{$('Normalizar Mensaje').item.json.canal}}",
            "destinatario": "={{$('Normalizar Mensaje').item.json.user_id}}",
            "texto": "Formato incorrecto o fecha pasada. Ingresa una fecha futura en formato AAAA-MM-DD."
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "e634f625-6305-453b-b8f9-03100733490c",
      "name": "Enviar Mensaje - Fuera de Horario",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1280,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat(' MM/DD/AAAA HH:mm:ss') }} ",
              "value2": "={{ $now.hour >= 8 && $now.hour < 18 }}"
            }
          ]
        }
      },
      "id": "efac203d-6347-480e-a2c3-545bae0e0e89",
      "name": "IF - Validar Hora",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        832,
        -16
      ],
      "notesInFlow": true,
      "notes": "Verifica si el mensaje recibido (de cualquier canal) es el comando /solicitar."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat('cccc', { locale: 'es' }) }}",
              "operation": "notEqual",
              "value2": "=sabado"
            }
          ]
        }
      },
      "id": "434f895c-4320-41f9-8d93-fc4e40dea1d4",
      "name": "IF - Validar Dia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        928,
        128
      ],
      "notesInFlow": true,
      "notes": "Verifica si el mensaje recibido (de cualquier canal) es el comando /solicitar."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $now.toFormat('cccc', { locale: 'es' }) }}",
              "operation": "notEqual",
              "value2": "=domingo"
            }
          ]
        }
      },
      "id": "a09da177-cac2-42cf-a008-68cd82b93d41",
      "name": "IF - Validar Dia 2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1024,
        304
      ],
      "notesInFlow": true,
      "notes": "Verifica si el mensaje recibido (de cualquier canal) es el comando /solicitar."
    }
  ],
  "pinData": {
    "Normalizar Mensaje": [
      {
        "json": {
          "canal": "telegram",
          "user_id": "1660706531",
          "texto": "1",
          "nombre": "Nicolas"
        }
      }
    ],
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 568509460,
          "message": {
            "message_id": 21,
            "from": {
              "id": 1660706531,
              "is_bot": false,
              "first_name": "Nicolas",
              "last_name": "Naranjo",
              "language_code": "es"
            },
            "chat": {
              "id": 1660706531,
              "first_name": "Nicolas",
              "last_name": "Naranjo",
              "type": "private"
            },
            "date": 1783714388,
            "text": "1"
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalizar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Mensaje": {
      "main": [
        [
          {
            "node": "Buscar Sesión Activa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Sesión Activa": {
      "main": [
        [
          {
            "node": "IF - Existe Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Existe Sesión": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Es Comando Solicitar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Es Comando Solicitar": {
      "main": [
        [
          {
            "node": "Extraer Materias Únicas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje - Ignorar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Enrutar Según Pantalla": {
      "main": [
        [
          {
            "node": "Leer Tutores Activos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Opción Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Interpretar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Materias Únicas": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Menú Materias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Menú Materias": {
      "main": [
        [
          {
            "node": "Guardar Sesión - Esperando Materia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Opción Materia": {
      "main": [
        [
          {
            "node": "IF - Opción Válida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Opción Válida": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Pedir Fecha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje - Opción Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Pedir Fecha": {
      "main": [
        [
          {
            "node": "Actualizar Sesión - Esperando Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Fecha": {
      "main": [
        [
          {
            "node": "IF - Fecha Válida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Fecha Válida": {
      "main": [
        [
          {
            "node": "Leer Tutores Por Materia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje - Fecha Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutores Por Materia": {
      "main": [
        [
          {
            "node": "Leer Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Disponibilidad": {
      "main": [
        [
          {
            "node": "Buscar Tutor Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tutor Disponible": {
      "main": [
        [
          {
            "node": "IF - Hay Tutores Disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Hay Tutores Disponibles": {
      "main": [
        [
          {
            "node": "Consolidar Mensaje - Tutores Disponibles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje - Sin Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Tutores Disponibles": {
      "main": [
        [
          {
            "node": "Actualizar Sesión - Esperando Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Sin Disponibilidad": {
      "main": [
        [
          {
            "node": "Limpiar Sesión - Sin Disponibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar Respuesta": {
      "main": [
        [
          {
            "node": "Switch - Confirmación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Confirmación": {
      "main": [
        [
          {
            "node": "Crear Tutoría",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje - Cancelación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensaje - Respuesta Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Tutoría": {
      "main": [
        [
          {
            "node": "Actualizar Disponibilidad Ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Disponibilidad Ocupado": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Éxito Estudiante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Éxito Estudiante": {
      "main": [
        [
          {
            "node": "Extraer Datos Tutor Notificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Tutor Notificación": {
      "main": [
        [
          {
            "node": "IF - Tutor Tiene Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Tutor Tiene Chat ID": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Notificar Tutor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpiar Sesión - Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Notificar Tutor": {
      "main": [
        [
          {
            "node": "Limpiar Sesión - Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Cancelación": {
      "main": [
        [
          {
            "node": "Limpiar Sesión - Cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje - Error General": {
      "main": [
        [
          {
            "node": "Limpiar Sesión - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Tutores Activos": {
      "main": [
        [
          {
            "node": "Extraer Materias Únicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Mensaje - Tutores Disponibles": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Tutores Disponibles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "IF - Validar Hora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validar Hora": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Fuera de Horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Validar Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validar Dia": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Fuera de Horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Validar Dia 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validar Dia 2": {
      "main": [
        [
          {
            "node": "Enviar Mensaje - Fuera de Horario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - Enrutar Según Pantalla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f9d277dd-f0c9-4b83-8142-af49154b8a92",
  "meta": {
    "instanceId": "642befe099bdb97cad26d54f03a4e2672e14af11a7546a773c10112ca7e6f8eb"
  },
  "nodeGroups": [],
  "id": "gpwdcp3L2Y9Isp0y",
  "tags": []
}